#message {
  display: flex;
  border: 2px solid black;
  background-color: #70587c;
  align-items: center;
  gap: 50px;
  height: fit-content;
  justify-content: space-between;
  margin-top: 10px;
}
#delete {
  height: fit-content;
}
p {
  padding-left: 15px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #502f4c;
}
h1 {
  margin: 0;
  color: #f9f4f5;
}
h2 {
  margin: 0;
  color: #f9f4f5;
}
button {
  margin-right: 15px;
}
